<div class="breadcrumb-container">
<div class="row">
    <div class="large-12 column">
        <nav class="breadcrumbs">
            <a ui-sref="home">Home</a>
            <a class="current" href="">Features</a>
        </nav>
    </div>
</div>
</div>

<section class="container">
    <div class="clearfix" style="height: 25px;"></div>
    <div class="row">
        <div class="small-12">
            <ul class="features medium-block-grid-2 small-block-grid-1 spacy">
                <li>
                    <div class="row">
                        <div class="small-2 column text-center">
                            <i class="fa fa-heart text-size--xxl"></i>
                        </div>

                        <div class="small-10 column">
                            <h4>Awesome Pricing</h4>

                            <p>
                            We believe that competing services, such as
                            <a target="_blank" href="https://www.eventbrite.com/fees/">Eventbrite</a> or
                            <a target="_blank" href="https://ti.to/pricing">Tito</a>, are <strong>not</strong> overpriced - they offer
                            extended set of features for a relatively high fee.
                            </p>
                            <p>
                            Esenio is designed to be a simple less feature-rich alternative. We deliberately limit the
                            scope of our app to only features that are relevant to majority of use cases (80/20 or Pareto principle).
                            This allows us to offer a <strong>{{appFee}} / ticket</strong> app fee.
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="small-2 column text-center">
                            <i class="fa fa-usd text-size--xxl"></i>
                        </div>

                        <div class="small-10 column">
                            <h4>Secure and Instant Payments</h4>

                            <p>
                            We never hold your clients' money. When a purchase occurs, funds go directly from attendee
                            to your payment processor account.
                            </p>
                            <p>
                            Esenio supports both <a target="_blank" href="https://stripe.com">Stripe</a> and <a target="_blank" href="https://paypal.com">PayPal</a>:
                            </p>
                            <div style="margin:0 auto;padding:0;">
                                <div style="float: left; width 155px;padding-right: 35px;">
                                    <img src="https://s3.amazonaws.com/esenio/logos/stripe-logo-black.png" alt="Stripe"
                                                                                                           width="150" style="border:none;" />
                                </div>
                                <div style="float: left; width 255px; padding-top: 20px;">
                                    <img src="https://s3.amazonaws.com/esenio/logos/paypal-logo.png" alt="PayPal"
                                                                                                     width="150" style="border: none;" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="small-2 column text-center">
                            <i class="fa fa-globe text-size--xxl"></i>
                        </div>

                        <div class="small-10 column">
                            <h4>L10n + i18n</h4>

                            <p>
                            We support <a ui-sref="questions.currencySupport">multiple currencies</a> and
                            <a ui-sref="questions.languageSupport">different UI languages</a>.
                            Allow your customers to register in their own language, using a local currency.
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row">
                        <div class="small-2 column text-center">
                            <i class="fa fa-database text-size--xxl"></i>
                        </div>

                        <div class="small-10 column">
                            <h4>State of the Art App Cluster</h4>

                            <p>
                            We rely on highly available and fault-tolerant cluster, with your data
                            distributed across the nodes located in different geographical regions.

                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="large-12 column">
            <ul class="all-features features large-block-grid-3 medium-block-grid-2 small-block-grid-1 spacy">

                <li>
                    <h4>
                        <i class="fa fa-bolt right-spacer--xs"></i>Blazing Fast App
                    </h4>

                    <p>
                    Got popular? Don't worry we can handle it. Our application is designed to scale well.
                    </p>
                </li>

                <li>
                    <h4>
                        <i class="fa fa-smile-o right-spacer--xs"></i>Radically Simple
                    </h4>
                    <p>
                    Only features that matter are included. Our goal is to keep UI radically simple (and awesome).
                    </p>
                </li>

                <li>
                    <h4>
                        <i class="fa fa-ticket right-spacer--xs"></i>Flexible Options
                    </h4>

                    <p>
                    Restrict tickets by total number and date availability. Create discount codes to promote your event.
                    </p>
                </li>

                <li>
                    <h4>
                        <i class="fa fa-bar-chart right-spacer--xs"></i>Real-time Stats
                    </h4>

                    <p>
                    See how well you are doing by analysing comprehensive statistics. Better yet, all this in real-time!
                    </p>
                </li>

                <li>
                    <h4>
                        <i class="fa fa-cubes right-spacer--xs"></i>Widget System
                    </h4>
                    <p>
                    Sell tickets directly from your own website. It takes only a minute to integrate our storefront widget.
                    </p>
                </li>

                <li>
                    <h4>
                        <i class="fa fa-comments right-spacer--xs"></i>Dedicated Support
                    </h4>
                    <p>
                    We know how stressful event organising might be. And we are always there when you need us.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="pricing" class="container pricing">
    <div class="row">
        <div class="small-12 column">
            <ul class="pricing-table highlight">
                <li class="title">Start selling tickets in less than 2 minutes</li>
                <li class="price">{{appFee}}<span> / ticket</span></li>
                <li class="cta-button"><a class="button" ng-href="{{signupURL}}">Get Started</a></li>
                <li class="description">
                    <strong>IMPORTANT:</strong> For events taking place in Germany there is 19% VAT added on top of our commission fee.
                </li>
            </ul>

        </div>
    </div>
</section>
