<div class="breadcrumb-container">
    <div class="row">
        <div class="large-12 column">
            <nav class="breadcrumbs">
                <a ui-sref="home">Home</a>
                <a ui-sref="questions.main">Questions</a>
                <a class="current" href="">Which UI languages does Esenio support?</a>
            </nav>
        </div>
    </div>
</div>

<section class="container" ng-controller="UiLanguagesCtrl">
    <div class="row">
        <div class="small-12 column">
            <h3>Q: Which UI languages does Esenio support?</h3>
            <p style="padding: 35px 0 0 0;">
                Allow your customers to register in their own language. Esenio comes with extended localisation and internationalisation
                support, with more translations added every other week.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 column">
            <h3>Fully supported languages</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <ul class="ui-languages large-block-grid-3 medium-block-grid-2 small-block-grid-1 spacy">
                <li style="ui-language" ng-repeat="language in supportedLanguages">
                    <div>
                        <img ng-src="https://s3.amazonaws.com/esenio/flags/shiny/48/{{language.code}}.png"
                        alt="{{language.name}}" width="22" style="vertical-align:top;border: none;"/>
                        <span style="">{{language.name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-12 column" style="padding-top: 35px;">
            <h3>Private Beta</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <ul class="ui-languages large-block-grid-3 medium-block-grid-2 small-block-grid-1 spacy">
                <li style="ui-language" ng-repeat="language in expectedLanguages">
                    <div>
                        <img ng-src="https://s3.amazonaws.com/esenio/flags/shiny/48/{{language.code}}.png"
                        alt="{{language.name}}" width="22" style="vertical-align:top;border: none;"/>
                        <span style="">{{language.name}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
