<div class="breadcrumb-container">
<div class="row">
    <div class="large-12 column">
        <nav class="breadcrumbs">
            <a ui-sref="home">Home</a>
            <a ui-sref="questions.main">Questions</a>
            <a class="current" href="">Which currencies does esenio support?</a>
        </nav>
    </div>
</div>
</div>

<section class="container">
    <div class="row">
        <div class="large-12 column">
            <h3>Q: Which currencies does Esenio support?</h3>
            <p style="padding: 35px 0 25px 0;">
            Depending on <a  ui-sref="questions.paymentProcessorsSupport">payment processor</a> there are different currencies you can use.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 column">
            <h3>1. Currencies supported by Stripe</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-12 column">
            See <a target="_blank" href="https://support.stripe.com/questions/which-currencies-does-stripe-support">official Stipe docs</a> for details.
        </div>
    </div>
    <div class="row" style="padding-top: 25px;">
        <div class="small-12 large-4 column">
            <ol style="font-size: 0.9em;">
                <li>AED: United Arab Emirates Dirham</li>
                <li>AFN: Afghan Afghani*</li>
                <li>ALL: Albanian Lek</li>
                <li>AMD: Armenian Dram</li>
                <li>ANG: Netherlands Antillean Gulden</li>
                <li>AOA: Angolan Kwanza*</li>
                <li>ARS: Argentine Peso*</li>
                <li>AUD: Australian Dollar</li>
                <li>AWG: Aruban Florin</li>
                <li>AZN: Azerbaijani Manat</li>
                <li>BAM: Bosnia &amp; Herzegovina Mark</li>
                <li>BBD: Barbadian Dollar</li>
                <li>BDT: Bangladeshi Taka</li>
                <li>BGN: Bulgarian Lev</li>
                <li>BIF: Burundian Franc</li>
                <li>BMD: Bermudian Dollar</li>
                <li>BND: Brunei Dollar</li>
                <li>BOB: Bolivian Boliviano*</li>
                <li>BRL: Brazilian Real*</li>
                <li>BSD: Bahamian Dollar</li>
                <li>BWP: Botswana Pula</li>
                <li>BZD: Belize Dollar</li>
                <li>CAD: Canadian Dollar</li>
                <li>CDF: Congolese Franc</li>
                <li>CHF: Swiss Franc</li>
                <li>CLP: Chilean Peso*</li>
                <li>CNY: Chinese Renminbi Yuan</li>
                <li>COP: Colombian Peso*</li>
                <li>CRC: Costa Rican Colón*</li>
                <li>CVE: Cape Verdean Escudo*</li>
                <li>CZK: Czech Koruna*</li>
                <li>DJF: Djiboutian Franc*</li>
                <li>DKK: Danish Krone</li>
                <li>DOP: Dominican Peso</li>
                <li>DZD: Algerian Dinar</li>
                <li>EGP: Egyptian Pound</li>
                <li>ETB: Ethiopian Birr</li>
                <li>EUR: Euro</li>
                <li>FJD: Fijian Dollar</li>
                <li>FKP: Falkland Islands Pound*</li>
                <li>GBP: British Pound</li>
                <li>GEL: Georgian Lari</li>
                <li>GIP: Gibraltar Pound</li>
                <li>GMD: Gambian Dalasi</li>
                <li>GNF: Guinean Franc*</li>
            </ol>
        </div>
        <div class="small-12 large-4 column">
            <ol style="font-size: 0.9em;" start="46">
                <li>GTQ: Guatemalan Quetzal*</li>
                <li>GYD: Guyanese Dollar</li>
                <li>HKD: Hong Kong Dollar</li>
                <li>HNL: Honduran Lempira*</li>
                <li>HRK: Croatian Kuna</li>
                <li>HTG: Haitian Gourde</li>
                <li>HUF: Hungarian Forint*</li>
                <li>IDR: Indonesian Rupiah</li>
                <li>ILS: Israeli New Sheqel</li>
                <li>INR: Indian Rupee*</li>
                <li>ISK: Icelandic Króna</li>
                <li>JMD: Jamaican Dollar</li>
                <li>JPY: Japanese Yen</li>
                <li>KES: Kenyan Shilling</li>
                <li>KGS: Kyrgyzstani Som</li>
                <li>KHR: Cambodian Riel</li>
                <li>KMF: Comorian Franc</li>
                <li>KRW: South Korean Won</li>
                <li>KYD: Cayman Islands Dollar</li>
                <li>KZT: Kazakhstani Tenge</li>
                <li>LAK: Lao Kip*</li>
                <li>LBP: Lebanese Pound</li>
                <li>LKR: Sri Lankan Rupee</li>
                <li>LRD: Liberian Dollar</li>
                <li>LSL: Lesotho Loti</li>
                <li>MAD: Moroccan Dirham</li>
                <li>MDL: Moldovan Leu</li>
                <li>MGA: Malagasy Ariary</li>
                <li>MKD: Macedonian Denar</li>
                <li>MNT: Mongolian Tögrög</li>
                <li>MOP: Macanese Pataca</li>
                <li>MRO: Mauritanian Ouguiya</li>
                <li>MUR: Mauritian Rupee*</li>
                <li>MVR: Maldivian Rufiyaa</li>
                <li>MWK: Malawian Kwacha</li>
                <li>MXN: Mexican Peso*</li>
                <li>MYR: Malaysian Ringgit</li>
                <li>MZN: Mozambican Metical</li>
                <li>NAD: Namibian Dollar</li>
                <li>NGN: Nigerian Naira</li>
                <li>NIO: Nicaraguan Córdoba*</li>
                <li>NOK: Norwegian Krone</li>
                <li>NPR: Nepalese Rupee</li>
                <li>NZD: New Zealand Dollar</li>
                <li>PAB: Panamanian Balboa*</li>
            </ol>
        </div>
        <div class="small-12 large-4 column">
            <ol style="font-size: 0.9em;" start="91">
                <li>PEN: Peruvian Nuevo Sol*</li>
                <li>PGK: Papua New Guinean Kina</li>
                <li>PHP: Philippine Peso</li>
                <li>PKR: Pakistani Rupee</li>
                <li>PLN: Polish Złoty</li>
                <li>PYG: Paraguayan Guaraní*</li>
                <li>QAR: Qatari Riyal</li>
                <li>RON: Romanian Leu</li>
                <li>RSD: Serbian Dinar</li>
                <li>RUB: Russian Ruble</li>
                <li>RWF: Rwandan Franc</li>
                <li>SAR: Saudi Riyal</li>
                <li>SBD: Solomon Islands Dollar</li>
                <li>SCR: Seychellois Rupee</li>
                <li>SEK: Swedish Krona</li>
                <li>SGD: Singapore Dollar</li>
                <li>SHP: Saint Helenian Pound*</li>
                <li>SLL: Sierra Leonean Leone</li>
                <li>SRD: Surinamese Dollar*</li>
                <li>SOS: Somali Shilling</li>
                <li>STD: São Tomé and Príncipe Dobra</li>
                <li>SVC: Salvadoran Colón*</li>
                <li>SZL: Swazi Lilangeni</li>
                <li>THB: Thai Baht</li>
                <li>TJS: Tajikistani Somoni</li>
                <li>TOP: Tongan Paʻanga</li>
                <li>TRY: Turkish Lira</li>
                <li>TTD: Trinidad and Tobago Dollar</li>
                <li>TWD: New Taiwan Dollar</li>
                <li>TZS: Tanzanian Shilling</li>
                <li>UAH: Ukrainian Hryvnia</li>
                <li>UGX: Ugandan Shilling</li>
                <li>USD: United States Dollar</li>
                <li>UYU: Uruguayan Peso*</li>
                <li>UZS: Uzbekistani Som</li>
                <li>VND: Vietnamese Đồng</li>
                <li>VUV: Vanuatu Vatu</li>
                <li>WST: Samoan Tala</li>
                <li>XAF: Central African Cfa Franc</li>
                <li>XOF: West African Cfa Franc*</li>
                <li>XPF: Cfp Franc*</li>
                <li>XCD: East Caribbean Dollar</li>
                <li>YER: Yemeni Rial</li>
                <li>ZAR: South African Rand</li>
                <li>ZMW: Zambian Kwacha</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="large-12 column">
            <p style="font-size: 0.8em;">(*) Unsupported on American Express.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 column">
            <h3>2. Currencies supported by PayPal</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-12 column">
            See <a target="_blank" href="https://developer.paypal.com/docs/classic/api/currency_codes/">official PayPal docs</a> for details.
        </div>
    </div>
    <div class="row" style="padding-top: 25px;">
        <div class="small-12 large-4 column">
            <ol style="font-size: 0.9em;">
                <li>AUD: Australian Dollar</li>
                <li>BRL: Brazilian Real</li>
                <li>CAD: Canadian Dollar</li>
                <li>CHF: Swiss Franc</li>
                <li>CZK: Czech Koruna</li>
                <li>DKK: Danish Krone</li>
                <li>EUR: Euro</li>
                <li>GBP: British Pound</li>
                <li>HKD: Hong Kong Dollar</li>
            </ol>
        </div>
        <div class="small-12 large-4 column">
            <ol style="font-size: 0.9em;" start="10">
                <li>HUF: Hungarian Forint</li>
                <li>ILS: Israeli New Sheqel</li>
                <li>JPY: Japanese Yen</li>
                <li>MXN: Mexican Peso</li>
                <li>MYR: Malaysian Ringgit</li>
                <li>NOK: Norwegian Krone</li>
                <li>NZD: New Zealand Dollar</li>
                <li>PHP: Philippine Peso</li>
                <li>PLN: Polish Złoty</li>
            </ol>
        </div>
        <div class="small-12 large-4 column">
            <ol style="font-size: 0.9em;" start="19">
                <li>RUB: Russian Ruble</li>
                <li>SEK: Swedish Krona</li>
                <li>SGD: Singapore Dollar</li>
                <li>TWD: New Taiwan Dollar</li>
                <li>THB: Thai Baht</li>
                <li>TRY: Turkish Lira</li>
                <li>USD: United States Dollar</li>
            </ol>
        </div>
    </div>
</section>
