<div class="breadcrumb-container">
    <div class="row">
        <div class="large-12 column">
            <nav class="breadcrumbs">
                <a ui-sref="home">Home</a>
                <a ui-sref="questions.main">Questions</a>
                <a class="current" href="">Which payment processors does Esenio support?</a>
            </nav>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="large-12 column">
            <h3>Q: Which payment processors does Esenio support?</h2>
            <p style="padding: 35px 0 25px 0;">
            Esenio supports both <a target="_blank" href="https://stripe.com">Stripe</a> and
            <a target="_blank" href="https://paypal.com">PayPal</a>, with our processor of choice being Stripe.
            </p>
            <div style="width: 545px;margin:0 auto; padding-bottom: 50px;">
                <div style="float: left; width 255px;padding-right: 35px;">
                    <img src="https://s3.amazonaws.com/esenio/logos/stripe-logo-black.png" alt="Stripe" width="250" />
                </div>
                <div style="float: left; width 255px; height: 120px;padding-top: 30px;">
                    <img src="https://s3.amazonaws.com/esenio/logos/paypal-logo.png" alt="PayPal" width="250" />
                </div>
                <div class="clearfix"></div>
            </div>
            <p>
            Depending on your selected payment processor there are <a ui-sref="questions.currencySupport">different currencies</a> you can use.
            </p>
        </div>
    </div>
</section>
